BOT_TOKEN=7926551599:AAFSVadKJGdTQynLKbADOl1Ji6mZ61NGuLU
DATABASE_URL=postgresql://postgres:password@containers-us-west-123.railway.app:5432/railway
REDIS_URL=redis://default:password@containers-us-west-456.railway.app:6379
